.content.no-alpha
  - if @decision.winner == nil
    .item.pull-left.decision-size
      .top-bar
        %h3.text-center #{@decision.stock_value.stock.stock_symbol.upcase} - #{@decision.stock_value.stock.name}
        %h3.text-center  #{@decision.stock_value.stock.stock_exchange}
      .center-bar
      .bottom-bar
        %h3.text-center  Value: $#{number_with_precision(@decision.stock_value.value, :precision => 2)}
        .text-center
          = link_to 'Choose Stock', decision_path(:decision => {:winner => 1}), :method=> :put, :class => 'btn'
    .product.pull-right.decision-size
      .top-bar
        %h3.text-center #{truncate(@decision.item_value.item.name, :length => 38)}
      .center-bar{ :style => "background:url(#{@decision.item_value.item.img_url}) no-repeat center center;"}
      .bottom-bar
        %h3.text-center  Value: $#{number_with_precision(@decision.item_value.value, :precision => 2)}
        .text-center
          = link_to 'Choose Product', decision_path(:decision => {:winner => 2}), :method=> :put, :class => 'btn'
  - elsif @decision.winner == 1
    .item.center
      .top-bar
        %h3.text-center You chose #{@decision.stock_value.stock.stock_symbol.upcase} stock over #{@decision.item_value.item.name}!
      .center-bar
      .bottom-bar
        %h3.text-center  Value: $#{number_with_precision(@decision.stock_value.value, :precision => 2)}
        = render 'stock_tweet'
  - elsif @decision.winner == 2
    .product.center
      .top-bar
        %h3.text-center You chose #{@decision.item_value.item.name} over #{@decision.stock_value.stock.stock_symbol.upcase} stock!
      .center-bar{ :style => "background:url(#{@decision.item_value.item.img_url}) no-repeat center center;"}
      .bottom-bar
        %h3.text-center  Value: $#{number_with_precision(@decision.item_value.value, :precision => 2)}
        = render 'item_tweet'