.content
  = form_for @stock do |f|
    %fieldset
      .form-inline.text-center
        = f.radio_button :stock_exchange, 'USA', :checked => true, :style => "margin-bottom:10px"
        = f.label :stock_exchange, 'USA', :value => 'USA'
        = f.radio_button :stock_exchange, 'TO', :style => "margin-bottom:10px"
        = f.label :stock_exchange, 'Toronto', :value => 'TO'
        = f.radio_button :stock_exchange, 'L', :style => "margin-bottom:10px"
        = f.label :stock_exchange, 'London', :value => 'L'
      %br
      .control-group.text-center
        = f.text_field :stock_symbol, :placeholder => "AAPL, BBRY, etc", :class => "stock_input"
        = f.submit "Search", :class => "btn"
      %p.text-center.blurb Search for your favourite (or least favourite) stock and find out what you can buy with it!
      