!!!
%html
  %head
    %title StockShop
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  .alpha-div 
    .logo.pull-left= link_to image_tag( 'logo_white.png'), root_path
    .pull-right= link_to image_tag( 'vote.png'), 'http://quintilis.r13.railsrumble.com'
  %body
    = yield