!!!
%html
  %head
    %title Stock or Not
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  .alpha-div 
    .logo.pull-left= link_to image_tag( 'StockOrNot.png'), root_path
    .pull-right= link_to image_tag( 'vote.png'), 'http://railsrumble.com/entries/234-stockshop'
  %body
    = yield
